@import './../../sass/mixins';
@import './../../sass/vars';
.ratingBlock {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    padding: 14px 0;
    border-top: 0.5px solid #C7C7C7;
    border-bottom: 0.5px solid #C7C7C7;
    @media (min-width:$mq4+px){
         padding: 20px 0 29px 0; 
    }
    @media (min-width:$mq3+px){
    border-top: none;
    padding: 15px 0 20px 0; 

    }
    .ratingWrap {
        margin: 0px 0px 0px 14px;
    }
    .ratingText {
        @include text(13,400,19)
        span {
            @include text(13,500,19)

        }
    }
}