@import "./../../../sass/mixins";
@import "./../../../sass/vars";

.slideBox {
  @media (min-width:$mq2+px){
     display: none; 
  }
  .container {
    @extend %container;
    .slideBoxWrapper {
      padding: 52px 0px 20px 0px;
      border: 1px solid #c7c7c7;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
.heroAvatar {
  display: flex;
  justify-content: center;
}